# =========================

# OS

# =========================

.DS_Store
Thumbs.db

# =========================

# Python (all backends)

# =========================

**/.venv/
**/venv/
**/**pycache**/
**/*.pyc
**/.pytest_cache/
**/.env

# =========================

# Node / Frontend (all apps)

# =========================

**/node_modules/
**/.expo/
**/.expo-shared/
**/dist/
**/web-build/

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================

# Expo / React Native

# =========================

.expo/
dist/
web-build/
expo-env.d.ts

# Native build files

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro

.metro-health-check*

# =========================

# Environment & secrets

# =========================

.env
.env.*
.env*.local
*.pem

# =========================

# TypeScript

# =========================

*.tsbuildinfo

# =========================

# Mobile folders

# =========================

/ios
/android

# =========================

# Project-specific

# =========================

# Existing backend/frontend

backend/.env
frontend/.env

#  website 

certiscommandcontrol/backend/.env
certiscommandcontrol/backend/.venv/
certiscommandcontrol/frontend/.env



app-example
